@import 'base.css';

html, body {
  font-family: "Nunito", sans-serif;
  min-height: 100%;
  width: 100%;
}
.cont{
  max-width: 1300px;
  padding: 0 25px;
  margin: 0 auto;
  min-height: 100%;
}
@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("/public/fonts/Nunito-SemiBold.ttf");
}
